* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.display {
    width:500px;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "result result result result"
        "clear clear erase divide"
        "7 8 9 multiply"
        "4 5 6 subtract"
        "3 2 1 add"
        "zero zero zero operate";
    background-color: black;
}   

.result {
    grid-area: result;
    color: #fff;
    text-align: right;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}


#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 5;
}

#6 {
    grid-area: 6;
}

#7 {
    grid-area: 7;
}

#8  {
    grid-area: 8;
}

#9 {
    grid-area: 9;
}


#clear {
    grid-area: clear;
}


#zero {
    grid-area: zero;
}


#erase {
    grid-area: erase;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#operate {
    grid-area: operate;
}


.standard-button {
    background-color: #d8d9db;
    font-size: xx-large;
    border: 1px solid black;
}

.operation-button, .equal-button {
    background-color: #df974c;
    font-size: xx-large;
    color: white;
    border: 1px solid black;
}

.standard-button:hover {
    background-color:#efefef;
}

.standard-button:active {
    background-color: #d8d9db99;
}

.operation-button:hover {
    background-color: #fabe7e;
}

.operation-button:active {
    background-color: #c56b0b;
}

.equal-button:hover {
    background-color: #fabe7e;
}

.equal-button:active {
    background-color: #c56b0b;
}